Repository howdyai/botkit-docs, pull requests merged in 2018-12, with the labels that each got.

#19 Add FB Personas API to the documentation
  docs/readme-facebook.md
Labels: Facebook-related

#25 typo
  docs/provisioning/slack-events-api.md
Labels: Slack-related

#21 Update readme-middlewares.md
  docs/readme-middlewares.md
Labels: Middleware

#24 remove line with storage_test.js dead link
  docs/storage.md
Labels: storage

#27 Fix smart quotation marks and add link to FB personas documentation
  docs/readme-facebook.md
Labels: Facebook-related
